@import url("https://fonts.googleapis.com/css2?family=Dangrek&display=swap");
/*nav and header*/
header {
  background-color: #b5b682;
  display: grid;
  grid-template-columns: 150px auto;
}
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 35px;
}
nav a:hover {
  background-color: #7c9885;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.logo {
  width: 80px;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
/*body and content*/
body {
  background-color: #fedc97;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}
/*footer*/
footer {
  background-color: #b5b682;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
footer h3 {
  color: #033f63;
}
footer p {
  font-size: 1.2em;
  color: white;
}
footer p a:hover {
  text-decoration: underline;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
