body {
  background-color: pink;
  max-width: 500px;
  margin: auto;
  font-family: "Trebuchet MS", sans-serif;
}

#title:hover {
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.whiteFont {
  color: white;
  text-align: center;
}

#specialFont {
  font-family: "Times New Roman", serif;
}
#footer {
  text-align: center;
}
